body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
img{
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

#graphics{
   
    background: linear-gradient(0deg, #403d72, #8464af);

    color: white;
    padding: 20px;
    border-radius: 10px;
    
}

.lab-header{
    text-align: center;
    margin: 20px 0;
    font-size: 1.3rem;
    color: #403d72;
    font-weight: bold;
    text-transform: uppercase;
    
    letter-spacing: 2px;
   
    padding: 10px;
    
    
    border-radius: 10px;



}
.lab-experiments{
    list-style-type: none;
    padding: 0;

}
.lab-experiments li{
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff31;
    border-radius: 5px;
    width: fit-content;
    margin-left: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;

    cursor: pointer;
    text-align: center;

    font-size: 1.2rem;

    color: #403d72;
}
#chemistry{
   
    background: linear-gradient(0deg, #1b1a1a, #8222ff);

    color: white;
    padding: 20px;
    border-radius: 10px;
    
}


#graphics{
   
    background: linear-gradient(0deg, #231627, #8222ff);

    color: white;
    padding: 20px;
    border-radius: 10px;
    
}
#physics{
   
    background: linear-gradient(0deg, #0b380b, #8464af);

    color: white;
    padding: 20px;
    border-radius: 10px;
    
}